<h1 class="text-center">Eat Da Burger</h1>

<div class="container">

  <div class="row">
    <div class="col-6">
      <div class="to-eat-list">

      </div>
    </div>

    <div class="col-6">
      <div class="eaten-list">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <form class="burger-form">
        <input type="text" name="burger-text">
        <input type="submit" name="submit">
      </form>
    </div>
  </div>

</div>
