body {
  background-color: orange;
}

.to-eat-list {
  background-color: white;
  border: 1px solid blue;
  min-height: 200px;
}

.eaten-list {
  background-color: white;
  border: 1px solid red;
  min-height: 200px;
}

.burger-form {
  margin: 1em 0;
}
